<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- More about stored procedure mapping can be found at:
		1. https://github.com/mybatis/mybatis-3/tree/master/src/test/java/org/apache/ibatis/submitted/sptests
		2. http://mybatis.github.io/mybatis-3/sqlmap-xml.html
		 -->

<!-- mapper namespace should be an interface which declares all the 
									operations defined in this mappaer -->
<mapper namespace="com.example.akka.producer.mapper.PersonMapper">

	<!-- Result maps describe the mapping between the columns returned from 
		a query, and the class properties. A result map isn't necessary if the columns 
		(or aliases) match to the properties exactly. -->
	<resultMap id="PersonResult" type="Person">
		<result property="id" column="person_id" javaType="java.lang.Integer" />
		<result property="firstName" column="person_fname" javaType="java.lang.String" />
		<result property="lastName" column="person_lname" javaType="java.lang.String" />
		<result property="email" column="person_email" javaType="java.lang.String" />
	</resultMap>

	<!-- Select with no parameters using the result map for Order class. -->
	<select id="selectPersons" resultMap="PersonResult"
		statementType="CALLABLE">
		{ CALL select_persons()}
	</select>
	<!-- Select with one parameter -->
	<select id="getPerson" resultMap="PersonResult" statementType="CALLABLE">
		{ call getPerson( #{email,jdbcType=VARCHAR,mode=IN} ) }
	</select>
</mapper>